*{
  font-weight: 400;
  font-family: sans-serif;
}

/* Header */
header {
  padding: 0 15px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid gray;
}

header a {
  color: gray;
  text-decoration: none;
}

nav {
  padding-top: 10px;
}

nav a {
  margin-right: 25px;
  padding: 15px 0;
}

nav a.active {
  border-bottom: 2px solid blue;
  color: blue;
}

/* Main */
main {
  padding-top: 50px;
}
/* Question */
.question {
  margin: 70px 0;
}

.question h3 {
  margin-top: 60px;
}

.question p {
  line-height: 24px;
  font-size: 14px;
}

.question a {
  text-decoration: none;
  color:cornflowerblue;
}

.question ol li {
  margin: 20px 0;
}

/* Utils */
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}